.dialogMessages {
  z-index: 1000000;
    position: fixed;
    width: 70%;
  height:50px;
  left:15%;
  top:10px;
}

.panel-container {
/* 	background:#d9e0e7;  */
	width: 100%;
/* 	float:right; */
}
.panel {
/* 	padding: 5px 1px 1px 5px; */
/* 	width: 99%; */
/* 	float:right; */
/*     float: none; */
}
.panel-heading {
	padding: 10px 15px;
	background: #242a30;
    border: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #fff;
/* 	width: 100%; */
}
.panel-body {
	padding: 10px 15px;
}

.profileImages {
	height:42px;
	width:42px;
}

.profileCvImages {
	height:30px;
	width:30px;
}


