.profileImages {
	min-height:42px;
	min-width:42px;
	height:10vh;
	width:10vh;
    max-height: 45px;
	max-width:  45px;
}

.profileCvImages {
	height:30px;
	width:30px;
}

.profile-image-td-container {
    padding-left: 5vw !important;
    vertical-align: middle !important;
}
