.sidebar {
  
}

.slimScrollDiv {
	position: relative; 
	overflow: hidden; 
	width: auto; 
	height: 100%;
}
.sidebarNav{
	background:#707478;
#background: rgb(0, 0, 0) none repeat scroll 0% 0%; 
#width: 7px; 
#position: absolute; 
#top: 155.269px; 
#opacity: 0.4; 
#display: block; 
#border-radius: 7px; 
#z-index: 99; 
#right: 1px; 
#height: 486.218px;
#flex-wrap: wrap;
#padding-left: 0;
#margin-bottom: 0;
 #list-style: none;
}
