.h1,
h1 {
  font-size: 20px;
}

#labelQuestion {
  color: #ffffff;
  font-weight: 600;
  margin-right: 10px;
  margin-left: 10px;
}

#reload{
  margin-right: 20px;
  background-color: transparent; 
  border: none; 
}

#buttonInsert{
  background-color: green;
  color: #fff;
  float: right;
  margin-bottom: 0px;
  margin-top: 10px;
}

#container{
  padding: "15px";
}

#active{
  margin-right: auto; 
}


#expired{
  flex: 1;
}

#buttonDelete{
  background-color: #f50057;
  color: #fff;
}

#cellRight{
  text-align: right;
  width: 190px;
}

.panel-title {
  display: flex;
  align-items: center;
}

.btn.btn-success, .btn.btn-success.disabled, .btn.btn-success.disabled:focus, .btn.btn-success.disabled:hover, .btn.btn-success[disabled], .btn.btn-success[disabled]:focus, .btn.btn-success[disabled]:hover {
  color: #fff;
  background: #00acac;
  border-color: #00acac;
}

/* #allContainer{
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
} */
